@import '../../utils/ColorCodes.css';

nav {
    margin: 0;
    padding: 0;
}

h1 {
    color: var(--text);
    margin-left: 10%;
    margin-right: 10%;

}

.logo {
    height: 100%;
    aspect-ratio: 1 / 1;
}

.fullNav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background-color: var(--cards);
    border-bottom: 2px solid var(--border);
}

.navLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.itemList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 50%;
}

.notificationsAndProfile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}

.userProfile {
    height: 80%;
    aspect-ratio: 1 / 1;
    border-radius: 100%;
}

.profileContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.navText {
    margin: 0;
    color: var(--text);
    font-size: 24px;
    cursor: pointer;
}